<div class="plo-lock-mask" [ngStyle]="{'display': isMask ? 'block' : 'none'}">
    <div class="plo-lock-wrap">
        <div class="plo-lock-content lock-show" [ngClass]="{'lock-close': !isLock}">
            <div class="plo-lock-avatar" [ngStyle]="{'background-image':'url(assets/avatar.jpeg)'}"></div>
            <div class="plo-lock-user">Admin</div>
            <div class="plo-lock-pwd">
                <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                    <nz-form-item>
                        <nz-form-control [nzErrorTip]="combineTpl">
                            <nz-input-group [nzPrefix]="prefixTemplate" [nzSuffix]="suffixTemplate">
                                <input nz-input formControlName="lockPwd" [type]="passwordVisible ? 'text' : 'password'"
                                    placeholder="请输入密码.." minlength="6" maxlength="20" />
                            </nz-input-group>
                            <ng-template #suffixTemplate>
                                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></i>
                            </ng-template>
                            <ng-template #prefixTemplate>
                                <i nz-icon nzType="lock"></i>
                            </ng-template>
                            <ng-template #combineTpl let-control>
                                <ng-container *ngIf="control.hasError('minlength')">密码长度不能小于6位！</ng-container>
                                <ng-container *ngIf="control.hasError('required')">请输入密码！</ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </div>
        </div>
    </div>
</div>