<div class="plo-logo plo-text-center">1</div>
<ul nz-menu nzMode="inline" [nzInlineCollapsed]="inlineCollapsed" style="border: none;user-select:none;">
    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
    <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let item of menus">
            <li *ngIf="item.children.length == 0" nz-menu-item nzMatchRouter
                (click)="childrenNodeClick(item.fid)" [nzPaddingLeft]="item.lev * 18">
                <i nz-icon [nzType]="item.icon"></i>
                <span>{{item.title }}</span>
                <a [routerLink]="[item.link]"></a>
            </li>
            <li nz-submenu *ngIf="item.children.length > 0" [nzOpen]="item.open" [nzPaddingLeft]="item.lev * 18"
                [ngStyle]="{'color': item.color}" [nzTitle]="item.title" [nzIcon]="item.icon">
                <ul>
                    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: item.children }"></ng-container>
                </ul>
            </li>
        </ng-container>
    </ng-template>
</ul>